<h1>Edit Post</h1>

<form action="/admin/posts/edit/{{post.id}}?_method=PUT" method="post" enctype="multipart/form-data">

	<div class="form-group">
		<label for="title"></label>
        <!-- using boostrap classes and instead of placeholder="Enter title" use handlebars to pull down value-->
		<input name="title" type="test" class="form-control" id="title" value="{{post.title}}">
	</div>	

	<div class="form-group">
		<label for="file">File Upload</label>
		<input type="file" name="file" class="form-control" required>
	</div>	

    <div class="form-group">
	   <label for="category">Category</label>   
       <select name="category" id="category" class="form-control">   
        {{#select post.category}}
        {{#each categories}}
            <!-- excepts id from Post model-->
       		<option value="{{id}}">{{name}}</option>      		
        {{/each}}
        {{/select}}
       </select>
	</div>

	<div class="form-group">
	   <label for="status">Status</label>   
       <select name="status" id="status" class="form-control">

    {{#select post.status}}
       		<option value="public">Public</option>
       		<option value="private">Private</option>
       		<option value="draft">Draft</option>
    {{/select}}  <!-- defined in app.js and exported from handlebars-helpers-->
       </select>
	</div>	

	

    <div class="form-check">
	   <label for="allowComments" class="form-check-label">   <!--checked automatically checks checkbox-->
       <input name="allowComments" type="checkbox" {{#if post.allowComments}} checked="checked" {{/if}} class="form-check-input" id="allowComments">
          Allow Comments
       </label>  
	</div>	

	<div class="form-group">
		<label for="body">Body</label>
		<!--make text boxt bigger by adding col 30 rows 10 -->
		<textarea name="body" cols="30" rows="10" class="form-control" id="body">{{post.body}}</textarea>

	</div>	

    <!-- make button look better by adding class btn btn-primary -->
	<button type="Submit" class="btn btn-primary">Update Post</button>

</form>